<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Recommendation #<%= @recommendation.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/recommendations" class="btn btn-block btn-success">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_recommendation/<%= @recommendation.id %>" class="btn btn-block btn-success">
          Delete recommendation
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Golfer
      </dt>
      <dd>
        <%= @recommendation.golfer_id %>
      </dd>

      <dt>
        Course
      </dt>
      <dd>
        <%= @recommendation.course_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@recommendation.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@recommendation.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit recommendation
    </h2>

    <form action="/modify_recommendation/<%= @recommendation.id %>"  method="post" >
      <div class="form-group">
        <label for="golfer_id_box">
          Golfer
        </label>

        <input type="text" id="golfer_id_box" name="query_golfer_id" class="form-control" value="<%= @recommendation.golfer_id %>">
      </div>

      <div class="form-group">
        <label for="course_id_box">
          Course
        </label>

        <input type="text" id="course_id_box" name="query_course_id" class="form-control" value="<%= @recommendation.course_id %>">
      </div>

      <button class="btn btn-block btn-success">
        Update recommendation
      </button>
    </form>
  </div>
</div>

<hr>
